/* ----------------------------------------------- */
/* BASIC SETUP */
/* ----------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family:  'Palatino Linotype','Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

/* ----------------------------------------------- */
/* BASIC Header */
/* ----------------------------------------------- */

header {
    background-color: #90b6e7;
    background-image: linear-gradient(rgba(0, 0, 0, 0.329), #00000071), url(../img/background-header.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 75vh;
    opacity: 1;
}

/* ----------------------------------------------- */
/* Navigation Section */
/* ----------------------------------------------- */

.navbar-browser {
    margin-left: auto;
    padding: 10px;
}

.nav-col li {
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;

}



.nav-col ul {
    background-color: #000000b6;
    text-align: center;
}

 li a:link,
 li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;    
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

li a:hover,
li a:active {
    border-bottom: none;
}
 li .btn a:hover,
 .btn a:active {
    border-bottom: none;
}

/* ----------------------------------------------- */
/* Profile  Section where Profile Image and Profile contact reside */
/* ----------------------------------------------- */

.col-img {
    text-align: center;
    margin-bottom: 25px;
    margin-top: -20%;
    background-color: #fff;
    border-top-right-radius: 2%;
    border-top-left-radius: 2%;  
    
}

.profile {
    display: inline;
    line-height: 90%;  
}
.myprofile {
    line-height: 100%;
    margin: 0 auto;
    font-weight: 600;
    max-width: 300px;   
    align-items: center;

}

#profile-1 {
    border-bottom: 2px solid #bdbdbde5;
}

.prof-img {
    height: 200px;
    border-radius: 50%;
    margin-bottom:0;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    vertical-align: middle;   

}

/* ----------------------------------------------- */
/* General Section */
/* ----------------------------------------------- */


section {
    padding: 80px 0;
}

section ul {

    list-style-type: none;
}

/* ----------------------------------------------- */
/* Heading from H1 to H6 Section */
/* ----------------------------------------------- */
h3 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 100px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

h3:after {
    display: block;
    height: 2px;
    background-color:  rgba(195, 194, 194, 0.856);
    content: " ";
    width: 150px;
    margin: 0 auto;
    margin-top: 30px;
}

h5 { font-size: 26px;}

.style__name h5:after {    
    display: block;
    height:2px;
    background-color: #cfcece;
    content: " ";
    width: 150px;
    margin-left: auto ;
    margin-right:auto;
    text-align: right;
}

h6 {margin-bottom: 0px;}
h6:after {

    display: block;
    height:1px;
    background-color: #cfcece;
    content: " ";
    width: 200px;
    margin: 0 ;
    text-align: left;
}
   
/* ----------------------------------------------- */
/* new style Section */
/* ----------------------------------------------- */
.job {
    max-width: 1400px;
    margin:40px auto 0 auto;
      
    
      }

      .job section:last-child {

        margin-bottom: 100px;
      }

      @media (min-width: 800px) {
        .job {
            display: flex;
            justify-content: space-between;               
            
              }
    
      }  

   .section-1:last-child {
flex-basis: 60%;
max-width: 100%;

   }   

  .section-1 {
padding: 20px;
box-sizing: border-box;
margin-bottom: 0px;
flex-basis: 40%;

}

.last-child--p li:last-child {
 padding-bottom: 20px;

}

.color {

    color: black;
    background-color: #afadadec;
}


.progress--item {
    
    border-radius: 25%;
    height:1.3rem;    
    padding-top:0;
    margin-top:0px;
    width:80%;    
    margin-left: 0;
    
}
.skill--paragraph {
    /* float:left; */
    border-radius: 20%;
  font-size: 1.1rem;
  font-weight: 300;
  margin-right: 150px;
    padding-right: 10px;
    padding-top:0;
    margin-top:0;
    margin-bottom: 0px;
  
}
    
.last-child--p li {

    margin-bottom: 20px;
}

      .section-2 {
    padding: 15px 20px 0 20px ;
    box-sizing: border-box;
    margin-bottom: 0px;
    flex-basis: 50%;
    
    }

    .section-m-top{

        margin-top:0;
    }
    

    .section-2 li {
        clear:both;

    }
  

    .last-child--p-1 li {
        margin-bottom: 20px;
    }

    .last-child--p-1 li:last-child{
    margin-bottom: 0px;
    margin-top:0;
    padding-bottom: 0;
    
}

.skills__me {

    max-width: 100%;
    margin: 0 auto;
    color: #fff;
    background-color: rgb(7, 19, 51);
}

.skill__heading , .heading-prof {

    padding-top: 20px;
}



.section-1 .title__headline {
  
 font-weight: 400;
 font-size: 1.2rem;
}

.style__name { margin-top:0;}

.skill__heading h3:after { background-color: #fff;}

.container {

    width: 100%;
    margin: auto;
}

/* ----------------------------------------------- */
/* Footer  Section */
/* ----------------------------------------------- */

footer {

    background-color: #161616;
    color: #fff;
    padding-top: 20px;
    font-size: 70%;
    text-align: center;
    height: 100%;
}
